In [723]:
# movie recommendation system

In [727]:
 import pandas as pd
 import numpy as np
 import difflib
 import matplotlib.pyplot as plt
 import seaborn as sns
 from sklearn.feature_extraction.text import TfidfVectorizer
 from sklearn.metrics.pairwise import cosine_similarity

In [729]:
# Data Collection And Preprocessing

In [735]:
 #Loading The data to DataFrame
 movies_data = pd.read_csv('C:/Users/ashis/Work/Project/Hawk/Code/Edureka/data/movies.csv')

In [737]:
 #To Print First 5 datas in dataset
 movies_data.head()

,index,budget,genres,...,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,...,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,...,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,...,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,...,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,...,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [739]:
 #To check Rows and Columns
 movies_data.shape

(4803, 24)

In [741]:
# Feature Selection

In [743]:
 #Relevent Features for Recommendation
 selected_features = ['genres','keywords','tagline','cast','director']
 print(selected_features)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [749]:
#Replacing Null Values With Null String
for feature in selected_features:
 movies_data[feature] = movies_data[feature].fillna('')

In [753]:
 #Combining Selected Features
 combined_features = movies_data['genres']+' '+movies_data['keywords']+''+movies_data['tagline']+' '+movies_data['cast']+' '+movies_data['director']

In [755]:
print(combined_features)

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance A newlywed couple's honeymoon i...
4800    Comedy Drama Romance TV Movie date love at fir...
4801     A New Yorker in Shanghai Daniel Henney Eliza ...
4802    Documentary obsession camcorder crush dream gi...
Length: 4803, dtype: object

In [757]:
vectorizer=TfidfVectorizer()

In [759]:
feature_vectors= vectorizer.fit_transform(combined_features)

In [761]:
print(feature_vectors)

  (0, 2825)	0.17365733752396292
  (0, 9224)	0.11349377091205677
  (0, 15280)	0.19528566108954704
  (0, 11950)	0.16145450217509352
  (0, 10299)	0.22831712302293364
  (0, 17141)	0.152325312366219
  (0, 19540)	0.20065059297287455
  (0, 16470)	0.20707370758386553
  (0, 15611)	0.2189235377509099
  (0, 20254)	0.2030704154867694
  (0, 19951)	0.2377107082949574
  (0, 15641)	0.15102423741048945
  (0, 13458)	0.2735833232498806
  (0, 13114)	0.09102271907804357
  (0, 19935)	0.1296922122527455
  (0, 17938)	0.07835679145512903
  (0, 16721)	0.28682283809133036
  (0, 3741)	0.2569035071769314
  (0, 19434)	0.12763467115712607
  (0, 16843)	0.3463021691447409
  (0, 7007)	0.16761913103948795
  (0, 3561)	0.22831712302293364
  (0, 4316)	0.21507760818148391
  (0, 6451)	0.1042622339194933
  (0, 15922)	0.10438430008517753
  :	:
  (4801, 20230)	0.288447054553863
  (4801, 5749)	0.24699827490898943
  (4801, 520)	0.1771758756927387
  (4801, 8230)	0.288447054553863
  (4801, 13645)	0.21545343228494443
  (4801, 1967)	0.15639109491898898
  (4801, 12788)	0.1352323867935049
  (4801, 8884)	0.11759281868384805
  (4801, 4444)	0.3340923783576234
  (4802, 8302)	0.5679201563597265
  (4802, 6379)	0.22885110047132695
  (4802, 4288)	0.26155287755231715
  (4802, 2813)	0.2434623138361356
  (4802, 5440)	0.2391456769247711
  (4802, 7665)	0.216738476297225
  (4802, 5161)	0.15326134139406383
  (4802, 7378)	0.18711776825989412
  (4802, 15239)	0.1690272045437126
  (4802, 1576)	0.19535760813232209
  (4802, 5354)	0.19433127566967895
  (4802, 4027)	0.216738476297225
  (4802, 5901)	0.16019251725181294
  (4802, 2482)	0.30883198235780784
  (4802, 5332)	0.17142287496800485
  (4802, 13079)	0.18122390355642892

In [763]:
# Cosine similarity

In [765]:
cosine_similarity= cosine_similarity(feature_vectors)

In [767]:
print(cosine_similarity)

[[1.         0.07376915 0.03750476 ... 0.         0.         0.        ]
 [0.07376915 1.         0.03276527 ... 0.01216731 0.         0.        ]
 [0.03750476 0.03276527 1.         ... 0.         0.05322545 0.        ]
 ...
 [0.         0.01216731 0.         ... 1.         0.         0.02626214]
 [0.         0.         0.05322545 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.02626214 0.         1.        ]]

In [773]:
cosine_similarity.shape

(4803, 4803)

In [775]:
 #Getting Input
 movie_name = input('Enter Your Favourite Movie Name : ')

Enter Your Favourite Movie Name :  Bat Man

In [9]:
 #Creating a list with all movie names given in the dataset
#commenting long output
# list_of_all_titles = movies_data['title'].tolist()
# print(list_of_all_titles)

In [783]:
#Finding The close match for user Input
find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
print(find_close_match)

['Batman', 'Batman', 'Rain Man']

In [785]:
close_match = find_close_match[0]
print(close_match)

Batman

In [789]:
#Finding The Index of the movie with title
index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]
print(index_of_the_movie)

1359

In [11]:
#Getting Similar Movies
#commenting long output
#similarity_score = list(enumerate(cosine_similarity[index_of_the_movie]))
#print(similarity_score)

In [793]:
len(similarity_score)

4803

In [13]:
#sorting the movies based on their similarty score
#commenting long output
#Sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse =True)
#print(Sorted_similar_movies)

In [801]:
#Print the name of similar movies based on index
print('Movies suggested for you : \n')
i = 1
for movie in Sorted_similar_movies:
 index = movie[0]
 title_from_index = movies_data[movies_data.index==index]['title'].values[0]
 if (i<10):
  print(i, '.',title_from_index)
  i+=1

Movies suggested for you :

1 . Batman
2 . Batman Returns
3 . Batman & Robin
4 . The Dark Knight Rises
5 . A History of Violence
6 . The Dark Knight
7 . Beetlejuice
8 . Mars Attacks!
9 . Batman Begins

In [805]:
 #Building Movie Recommendation System

In [815]:
 #Getting input
movie_name = input('Enter Your Favourite Movie Name : ')
list_of_all_titles = movies_data['title'].tolist()
 find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
 close_match = find_close_match[0]
 index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]
 similarity_score = list(enumerate(cosine_similarity[index_of_the_movie]))
 Sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse =True)
 print('Movies suggested for you : \n')
 i = 1
 for movie in Sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index==index]['title'].values[0]
  if (i<10):
   print(i, '.',title_from_index)
   i+=1

Enter Your Favourite Movie Name :  Captain America

Movies suggested for you :

1 . Captain America: Civil War
2 . Captain America: The Winter Soldier
3 . Avengers: Age of Ultron
4 . The Avengers
5 . Iron Man 2
6 . Captain America: The First Avenger
7 . Iron Man 3
8 . Thor: The Dark World
9 . Iron Man